parameters:
  level: 8
  excludePaths:
    - vendor
  scanFiles:
    - cardanopress-edge-user.php
  scanDirectories:
    - %currentWorkingDirectory%/.cache/wordpress
    - %currentWorkingDirectory%/.cache/wordpress-tests-lib
  dynamicConstantNames:
    - CP_EDGE_USER_FILE
